button.button_gr {
  width: 53.2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $_gradient;
  border: none;
  border-radius: 16px;
  padding: 1.4rem 0;
  box-shadow: 0 0 150px 0 rgba(165, 191, 180, 0.42);


  span {
    color: $_custom_black;
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}