$white: rgb(255, 255, 255);
$_white-40: rgba(242, 242, 242, 0.4);
$_white-30: rgba(242, 242, 242, 0.3);

$_grey: rgb(130, 130, 130);
$_dark-grey-100: rgb(48, 45, 45);
$_dark-grey-34: rgba(48, 45, 45, 0.34);

$black: rgb(0, 0, 0);
$_custom_black: rgb(28, 26, 26);

$_gradient: linear-gradient(135deg, rgba(124, 111, 207, 0.97) 0%, rgba(116, 174, 170, 0.95) 49.13%, #6fcf97 100%);

